/* QWidget {border: 1px solid tomato;} */

/* .central-widget {background: rgb(0, 46, 6);}
.panel {background: rgb(70, 63, 0);}
.stage{background: rgb(8, 0, 83);}
.profile {background: rgb(70, 7, 0);} */

QPushButton {
    font-weight: bold;

    padding: 8px;
    border-radius: 16px;

    background: qlineargradient(
        x1: 0, y1: 0, x2: 1, y2: 0,
        stop: 0 orangered,
        stop: 1 magenta
    );
}

QPushButton:hover {
    background: mediumseagreen;
}

QPushButton:disabled {
    background: #ddd;
}

.scene-button {
    background: qlineargradient(
        x1: 0, y1: 0, x2: 1, y2: 0,
        stop: 0 mediumseagreen,
        stop: 1 dodgerblue
    );
}

.scene-button:hover {
    background: tomato;
}

.central-widget {
    background: transparent;
    border-radius: 6px;
}   

.left-panel,
.right-panel {
    background: #eee;
    border: 1px solid #666;
    border-radius: 12px;
}

.left-panel-header,
.right-panel-header,
.scene-header {
    background: #ccc;
    border-bottom: 1px solid #666;
    border-radius: 12px;
    padding: 4px;
}

.scene {
    background: #ccc;

    border-radius: 12px;
}

.header {
    font-size: 14px;
    font-weight: bold;
}

